<div class="flex flex-col gap-1 w-full">
<% @users.each do |user| %>
  <%= link_to user_path(user), class: 'flex gap-4 mb-4 p-2 bg-blue-300 text-black border-2 border-black rounded' do %>
    <figure class="border border-black w-32 h-32">
    </figure>
    <div class="flex justify-between items-center w-full">
    <div class="text-4xl">
      <%= user.name %>
    </div>
    <div class="self-end">
      Number of posts: <%= user.posts_counter.nil? ? 0 : user.posts_counter %>
    </div>
    </div >
  <% end %>
<% end %>
</div>